*, *::before, *::after {
    box-sizing:border-box
}
*::-webkit-scrollbar {
    opacity: 0;
    width: 8px;
}
*::-webkit-scrollbar-thumb {
    background-color: #FFBC52;
    border-radius: 4px;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
button, input {
    font-family: Inter, sans-serif;
    outline: none;
}
input {
    border: none !important;
}
.activeDate {
    font-weight: bold;
}
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
